.blue-sunburst-node{
	fill: white !important;
	stroke: @selection-highlight-positive !important;
	stroke-width: 2px;
}
.blue-sunburst-node-shrink{
	fill: @selection-highlight-positive;
	stroke: #C0C0C0;
	stroke-width: 2px;
}
.orange-sunburst-node{
	fill: white !important;
	stroke: @selection-highlight-negative !important;
	stroke-width: 2px;
}
.orange-sunburst-node-shrink{
	fill: @selection-highlight-negative;
	stroke: #C0C0C0;
	stroke: 2px;
}

